body {
    background-color: white;
    color: #045e2b; /* Masters Green */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 8.5rem;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 15px;
}

button {
    background-color: #ffd700; /* Masters Gold */
    color: #045e2b;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6c200;
}

.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #006847;
    border: 2px solid #006847;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    background-color: #ffcc00;
    color: #006847;
    transform: scale(1.1);
}